.flex-container {
    display: flex;
}

/*flex-direction: column, column-reverse, 
flex-wrap:
flex-grow:
flex-shrink:
flex-basis:
flex-flow:*/


.flex-container#topNav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.navItem {
    padding: 10px 15px;
}

img#brand {
    width: 62px;
    height: 16.94px;
}
.button {
    padding: 18px 32px 18px 32px;
    font-size: 16px;
    color: white;
    background-color: #0065F2;
    border-radius: 10px;
}

.buttonShort {
    max-width: 60px;
}

/* SHORT BIO*/
.flex-container#bitBio {
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

#bioText:nth-of-type(1) {
    flex-basis: 60%; 
    margin-left: 10%;
}

.bioImage {
    width: 350px;
    height: 371.21px;
    margin-right: 10%;
    margin-left: 10%;
}

/*CLIENTS*/

.flex-container#clientIcons {
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 60px;
}

/*SIZZLE REEL*/
.flex-container#sizzleReel {
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 60px;
}


.h2 {
    font-family: Raleway;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

/*CASE STUDY 1*/
.flex-container#caseStudy1 {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#travelApp:nth-of-type(1) {
    flex-basis: 60%; 
    margin-left: 10%;
}

 #travelApp: {
    max-width: 100px;
    justify-content: flex-start;
}

.travelImage {
    width: 256px;
    height: 256px;
}

#buttonDont {
    justify-content: flex-end;
}
/*CASE STUDY 2*/
.flex-container#caseStudy2 {

}

/*FOR HIRE*/
.flex-container#forHire {

}

/*HIRE PACKAGE*/
.flex-container#hirePackage {

}

/*STORY ENDS*/
.flex-container#storyEnds {

}

/*FOOTER*/
.flex-container#footer {

}
